
body {
    background-color: #f8f8f8; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, "Times New Roman", serif;
    color: #000000;
    margin: 0;
    padding: 0;
}



.header {
    background-color: #0f029ae7;
    color: #f5f1e8;
    padding: 20px;
    text-align: center;
}

.content {
    background-color: #c3c1cafe;
    padding: 20px;
    
}

.content2 {
    background-color:rgb(225, 212, 200);
    padding: 20px
}

.content3 {
    background-color:rgba(226, 173, 173, 0.984);
    padding: 20px;
    
}

.link{
    font-family: 'Courier New', Courier, monospace;
    color:#f5f1e8
}

.footer {
    text-align: center;
    padding: 15px;
    background-color: #c3c1cafe ;
    font-size: 1em;
}
